/*
* Creating the LED figure in style.css
* 
* position everything relative to the center of the screen.
* that way the figure will stay centered on different screen sizes and even if the user will change the size of the windows.
*/
#welcome
{
    position: absolute;
    left: calc(45% - 50px);
}

/*
* LED class style which will contain all of the figure's elements.
*/
.LED
{
    position: absolute;
    width: 230px;
    height: 400px;
    top: 250px;
    left: 0px;
}

/*
* build the figure using simpler shapes; mainly rectangles.
*/
.sqr
{
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 30px 0 rgba(0, 0, 0, 1);
    position: absolute;
    background-color: darkgrey;
    width: 160px;
    height: 180px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    top: 10px;
    left: 20px;
}
.rctngl
{
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 30px 0 rgba(0, 0, 0, 1);
    position: absolute;
    background-color: darkgrey;
    width: 200px;
    height: 20px;
    top: 180px;
    left: 10px;
}
.leagR
{
    font-family: arial;
    position: absolute;
    background-color: #666666;
    box-shadow: -3px 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 8px;
    height: 120px;
    top: 200px;
    left: 162px;
}
.leagG
{
    font-family: arial;
    position: absolute;
    background-color: #666666;
    box-shadow: -3px 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 8px;
    height: 120px;
    top: 200px;
    left: 118px;
}
.leag5
{
    font-family: arial;
    position: absolute;
    background-color: #666666;
    box-shadow: -3px 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 8px;
    height: 150px;
    top: 200px;
    left: 74px;
}
.leagB
{
    font-family: arial;
    position: absolute;
    background-color: #666666;
    box-shadow: -3px 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 8px;
    height: 120px;
    top: 200px;
    left: 30px;
}
.login
{
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 125px);
    border: 1px solid white;
    width: 250px;
    height: 80px;
    padding: 10px;
}